       
     /*個別のタグ*/
       
       　table
       	{
            border-collapse: collapse;
            border: solid 1px black;
        }
        th, td
        {
            border: solid 1px black;
            padding: 1em;
        }
        h1/*トップの見出し*/
        {
			text-align: center;
			
		}
		h2/*各ページの見出し*/
		{
			
		}
		p
		{
			
		}
		hr
		{
		
		}
		form
		{
			
		}
		body
		{
			background-color:#FFFFFF;
			margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:100px;
    			margin-bottom:30px;
    			margin-left:100px;
    			box-shadow:0px 0px 3px 3px #C0C0C0;
    			-moz-box-shadow:0px 0px 3px 3px #C0C0C0;
    			-webkit-box-shadow:0px 0px 3px 3px #C0C0C0;
		}
		html
		{
			background-color:#F0F8FF ;
		}
	/*float画像*/
		.indexImg
		{
			background-image:url(bg_doujou.jpg);     /* 画像のURLを指定       */
    		background-repeat:  no-repeat;         /* 画像の繰り返しを指定  */              
    		background-size:contain;				/* 画像のサイズを指定  */
    		width:350px;                            /* 横幅のサイズを指定    */
    		height:350px;   						/* 縦幅のサイズを指定    */
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:auto;
    			margin-bottom:30px;
    			margin-left:auto;
    			
		}

		
	/*floatタグ*/	
		.float_menu /*トップ、マイページ、管理者メニュー*/
		{
    		background-color: #FFFACD;
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:auto;
    			margin-bottom:60px;
    			margin-left:auto;
		
		}
		.float_login/*ログイン*/
		{
			height: 200px;              /* 高さ指定 */
    		width: 700px;               /* 幅指定 */
    		background-color: #FFFACD;
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:auto;
    			margin-bottom:60px;
    			margin-left:auto;
  
		}
		.float_registUser, .float_changeUserName, .float_changeUserPassword, .float_adminChange/*登録系ページ*/
		{
			height: 300px;              /* 高さ指定 */
    		width: 700px;               /* 幅指定 */
    		background-color: #FFFACD;
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:auto;
    			margin-bottom:60px;
    			margin-left:auto;
  
    		
		}
		.float_changeUserNameAlert/*ユーザ名変更の注意文言*/
		{
			
		}

		.float_finish/*登録系画面の完了メッセージ（共通）*/
		{
		}
		.float_errorMsg/*エラーメッセージ共通(共通）*/
		{
			color:#FF0000;
		}
		.float_conditions/*出題問題選択、ランキングの条件選択*/
		{
			
			background-color: #FFFACD;
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:auto;
    			margin-bottom:60px;
    			margin-left:auto;
		}
		.float_questionInfo/*出題問題の年度分野の情報*/
		{
		}
		.float_question/*出題問題文*/
		{
		}
		.float_choice/*出題問題選択肢*/
		{
		}
		.float_judge/*正誤結果*/
		{
			color:#FF0000;
		}
		.float_correct/*正解*/
		{
			
		}
		.float_flag/*ブックマーク登録フラグ*/
		{
		}
		.float_bookmarkregist/*ブックマーク登録チェック*/
		{
		}
		.float_commentRegist/*コメント登録*/
		{
		}
		.float_commentPast/*過去コメント*/
		{
		}
		.float_result/*得点結果*/
		{
		}
		.float_PSresult/*個人過去実績*/
		{
		}
		.float_ranking/*ランキング*/
		{
		}
		.float_userListText/*ユーザ一覧の案内文*/
		{
		}
		.float_userList/*一般ユーザーリスト*/
		{
		}
		.float_userAdminList/*管理ユーザリスト*/
		{
		}
		
		.font_boxTop /*トップ見出し用*/
		{
  		 	color: #ffffff ;
  			background: #23a951;
  			font-size: 16pt ;
  			line-height: 1;
  			margin:10px 0px;
  			padding: 10px 5px 10px 5px;
    		box-shadow:1px 3px 7px 0px #666666 ;
    		border-bottom:3px solid #bfc77e;
    		border-radius: 5px ;
		}
		.font_box /*見出し用*/
		{
  		 	color: #ffffff ;
  			background: #23a951;
  			font-size: 12pt ;
  			line-height: 1;
  			margin:10px 0px;
  			padding: 10px 5px 10px 5px;
    		box-shadow:1px 3px 7px 0px #666666 ;
    		border-bottom:3px solid #bfc77e;
    		border-radius: 5px ;
		}
		.btn-square-shadow /*遷移ボタン用*/
		{
  			display: inline-block;
  			padding: 0.5em 1em;
  			text-decoration: none;
 			background: #668ad8;/*ボタン色*/
  			color: #FFF;
 			border-bottom: solid 4px #627295;
  			border-radius: 3px;
		}
		.btn-square-shadow:active 
		{
  		/*ボタンを押したとき*/
  			-webkit-transform: translateY(4px);
  			transform: translateY(4px);/*下に動く*/
  			box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  			border-bottom: none;
		}
		.decorated-btn /*決定ボタン用*/
		{
  			background-color: gold;
  			color: #FFF;
  			font-size: 15px;
  			border-radius: 5px;
  			border-bottom: solid 3px orange;
  			box-shadow: 3px 3px 3px gray;
  			transition: 0.3s;
		}
		.click-down:active 
		{
  			transform: translateY(2px);
  			border-bottom: none;
		}

		.decorated-btn:hover 
		{
  			background-color: orange;
		}
		
		nav
		{
			border-bottom: 1px solid #ccc;
		}
		nav ul
		{
			display: table;
			margin: 0 auto;
			padding: 0;
			width: 80%;
			text-align: center;
		}
		nav ul li
		{
			display: table-cell;
			min-width: 50px;
			border-right: 1px solid #ccc;
		}
		nav ul li:first-child
		{
			border-left: 1px solid #ccc;
		}
		nav ul li a
		{
			display: block;
			width: 100%;
			padding: 10px 0;
			text-decoration: none;
			color: #aaa;
		}
		nav ul li a:hover
		{
			background-color:#F8E750;
			border-bottom: 5px solid #F8E750;
		}
		nav ul li.current
		{
			font-weight: bold;
		}
		nav ul li.current a
		{
			border-bottom: 5px solid #00B0F0;
			color: #00B0F0;
		}
