       
     /*個別のタグ*/
       
       /*汎用float*/
       　.float_free
		{
    		padding: 0.5em 1em;

		}
       /*リンクタグ用*/
       	a:visited
       	{
  			
		}
        a:hover
        {
  			color :#800000;
  			font-weight: bold;
		}
        a:active 
        {
 			color: #FF0000;
 			text-decoration: underline;
		}
		
       	table
       	{
            border-collapse: collapse;
            border: solid 1px black;
        }
        th, td
        {
            border: solid 1px black;
            padding: 1em;
        }
        h1/*トップの見出し*/
        {
			text-align: center;
			
		}
		h2/*各ページの見出し*/
		{
			
		}
		p
		{
			
		}
		hr
		{
			height: 1px;
  			background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ccc), to(transparent));
  			background-image: linear-gradient(to right, transparent, #ccc, transparent);
		}
		form
		{
			
		}
		body
		{
			background-color:#FFFFFF;
			margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:100px;
    			margin-bottom:30px;
    			margin-left:100px;
    			box-shadow:0px 0px 3px 3px #C0C0C0;
    			-moz-box-shadow:0px 0px 3px 3px #C0C0C0;
    			-webkit-box-shadow:0px 0px 3px 3px #C0C0C0;
		}
		html
		{
			background-image:url(tatami.jpg);     /* 画像のURLを指定       */
			
		}
	/*float画像*/
		.indexImg
		{
			background-image:url(doujou.jpg);     /* 画像のURLを指定       */
    		background-repeat:  no-repeat;         /* 画像の繰り返しを指定  */              
    		background-size:contain;				/* 画像のサイズを指定  */
    		width:800px;                            /* 横幅のサイズを指定    */
    		height:450px;   						/* 縦幅のサイズを指定    */
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:auto;
    			margin-bottom:auto;
    			margin-left:auto;
    			
		}

		
	/*floatタグ*/	
		.float_menu /*トップ、マイページ、管理者メニュー*/
		{
    		background-color: #FFFACD;
    		/*margin: 0 auto 40px;
    			margin-top:auto;
    			margin-right:auto;
    			margin-bottom:60px;
    			margin-left:auto;*/
		
		}
		.float_login/*ログイン*/
		{
			padding: 0.5em 1em;
			height: 200px;              /* 高さ指定 */
    		width: 700px;               /* 幅指定 */
    		background-color: #FFFACD;
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:auto;
    			margin-bottom:60px;
    			margin-left:auto;
  
		}
		.float_registUser, .float_changeUserName, .float_changeUserPassword, .float_adminChange/*登録系ページ*/
		{
			padding: 0.5em 1em;
			height: 350px;              /* 高さ指定 */
    		width: 700px;               /* 幅指定 */
    		background-color: #FFFACD;
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:auto;
    			margin-bottom:60px;
    			margin-left:auto;	
		}
		.float_changeUserNameAlert/*ユーザ名変更の注意文言*/
		{
			padding: 0.5em 1em;
		}

		.float_finish/*登録系画面の完了メッセージ（共通）*/
		{
			padding: 0.5em 1em;
			background-color: #FFFACD;
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:20px;
    			margin-bottom:60px;
    			margin-left:20px;
		}
		.float_errorMsg/*エラーメッセージ共通(共通）*/
		{
			padding: 0.5em 1em;
			color:#FF0000;
		}
		.float_conditions/*出題問題選択、ランキングの条件選択*/
		{
			padding: 0.5em 1em;
			background-color: #FFFACD;
    		margin: 0 auto 40px;
    			margin-top:0px;
    			margin-right:20px;
    			margin-bottom:60px;
    			margin-left:20px;
		}
		.float_questionNumber/*出題問題番号*/
		{
			padding: 0.5em 1em;
		}
		.float_questionInfo/*出題問題の年度分野の情報*/
		{
			color:#808080;
			text-align: right;
			padding: 0.5em 1em;
		}
		.float_question/*出題問題文*/
		{
			padding: 0.5em 1em;
		}
		.float_choice1, .float_choice2, .float_choice3, .float_choice4/*出題問題選択肢*/
        {
            padding: 0.5em 1em;
            color: #000000;
            margin:10px;
            width:95％;
        }
		.float_judgeCorrect/*正誤判定(正解)*/
		{
			padding: 0.5em 1em;
			color:#FF0000;
		}
		.float_judgeIncorrect/*正誤判定（不正解）*/
		{
			padding: 0.5em 1em;
			color:#0000FF;
		}
		.float_correct/*正解*/
		{
			padding: 0.2em 1em;
		}
		.float_flag/*ブックマーク登録フラグ*/
		{
			padding: 0.0em 1em;
		}
		.float_bookmarkregist/*ブックマーク登録チェック*/
		{
			padding: 0.0em 1.5em;
		}
		.float_commentRegist/*コメント登録*/
		{
			padding: 0.0em 1.5em;
		}
		.float_commentPast/*過去コメント*/
		{
			padding: 0.0em 0.2em;
		}
		.float_result/*得点結果*/
		{
			padding: 0.5em 1em;
		}
		.float_PSresult/*個人過去実績*/
		{
			padding: 0.5em 1em;
		}
		.float_ranking/*ランキング*/
		{
			padding: 0.5em 1em;
		}
		.float_userListText, .float_free/*ユーザ一覧の案内文*/
		{
			padding: 0.5em 1em;
		}
		.float_userList, .float_userAdminList/*一般ユーザーリスト*/
		{
			padding: 0.5em 1em;
		}
		.font_boxTop /*トップ見出し用*/
		{
  		 	color: #ffffff ;
  			background: #23a951;
  			font-size: 16pt ;
  			line-height: 1;
  			margin:10px 0px;
  			padding: 10px 5px 10px 5px;
    		/*box-shadow:1px 3px 7px 0px #666666 ;*/
    		/*border-bottom:3px solid #bfc77e;*/
    		border-radius: 5px ;
		}
		.font_box /*見出し用*/
		{
  		 	color: #ffffff ;
  			background: #23a951;
  			font-size: 12pt ;
  			line-height: 1;
  			margin:10px 0px;
  			padding: 10px 5px 10px 5px;
    		/*box-shadow:1px 3px 7px 0px #666666 ;
    		border-bottom:3px solid #bfc77e;*/
    		border-radius: 5px ;
		}
		
		 /*遷移ボタン用*/
		.btn-square-shadow
		{
  			display: inline-block;
  			padding: 0.5em 1em;
  			text-decoration: none;
 			background: #668ad8;/*ボタン色*/
  			color: #FFF;
 			border-bottom: solid 4px #627295;
  			border-radius: 3px;
		}
		.btn-square-shadow:active 
		{
  		/*ボタンを押したとき*/
  			-webkit-transform: translateY(4px);
  			transform: translateY(4px);/*下に動く*/
  			box-shadow: 0px 0px 1px gray;/*影を小さく*/
  			border-bottom: none;
		}
		
		
		.decorated-btn /*決定ボタン用*/
		{
  			 position: relative;
  			display: inline-block;
	  		padding: 0.25em 0.5em;
	  		text-decoration: none;
  			color: #FFF;
  			background: #fd9535;/*色*/
  			border-radius: 4px;/*角の丸み*/
  			box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  			font-weight: bold;
  			border: solid 2px #d27d00;/*線色*/
		}
		.click-down:active 
		{
  			/*押したとき*/
  			box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
		}
		.decorated-btn:hover 
		{
  			background-color: orange;
		}
		
		/*メニューボタン用*/
		nav
		{
			border-bottom: 1px solid #ccc;
		}
		nav ul
		{
			display: table;
			margin: 0 auto;
			padding: 0;
			width: 80%;
			text-align: center;
		}
		nav ul li
		{
			display: table-cell;
			min-width: 50px;
			border-right: 1px solid #ccc;
		}
		nav ul li:first-child
		{
			border-left: 1px solid #ccc;
		}
		nav ul li a
		{
			display: block;
			width: 100%;
			padding: 10px 0;
			text-decoration: none;
			color: #A52A2A;
		}
		nav ul li a:hover
		{
			background-color:#F8E750;
			border-bottom: 5px solid #F8E750;
		}
		nav ul li.current
		{
			font-weight: bold;
		}
		nav ul li.current a
		{
			border-bottom: 5px solid #00B0F0;
			color: #00B0F0;
		}
		
		/***　共通テーブル　***/
    	.common-table
    	{
         	width:100%;
       		border-collapse: collapse;
         	border: none;
         	border-spacing: 0px 10px ;
    	}



   		.common-table tbody td,
    	.common-table tfoot td
    	{
        	text-align: center;
   		}
   		/* 上部ヘッダー（背景：パステルカラー） */
    	.common-table thead th
    	{
        	color: #FFF;
         	font-weight: bold;
         	background:#23a951;
    	}
   		/* 上部ヘッダーの丸み */
    	.common-table thead th:nth-child(1)
    	{
        	 border-radius: 10px 0 0 0;
    	}
    	.common-table thead th:last-child
    	{
       		border-radius: 0 10px  0 0;
    	}
		.common-table th,
    	.common-table td
    	{
        	padding-bottom: 10px;
        	padding-top: 10px;
        	border: 0 none !important;
        	text-align: center;
    	}

		/* １行ずつ色変更　不要なら削除 even:奇数行　odd:偶数行 */
    	.common-table tr:nth-child(even) td
    	{
         	background: #f5f5f5;
   		}
    	.common-table tr:nth-child(odd) td
   		 {
        	 background: #FDFDFD;
   		}
   		/* ヘッダーセル先頭・ボディ項目・フッター項目 */
    	.common-table tbody th,
    	.common-table tfoot th
    	{
         	background:none;
         	color:#666;
         	font-weight: bold;
         	line-height:4.5em;
         	text-align:right;
    	}
    	
    	
    	/*（共通）　項目の多いテーブルの幅を調整*/
   		 @media (max-width: 767px) {
    	.col6t th,
     	.col6t td
     	{	
         	font-size:0.4em;
         	padding: 10px 0px;
     	}
     	.col5t th,
     	.col5t td
     	{
         	font-size:0.5em;
        	padding: 10px 0px;
     	}
    	.col4t th,
    	.col4t td
    	{
        	font-size:0.7em;
         	padding: 10px 5px;
    	}
    	.col3t th,
     	.col3t td
     	{
        	font-size:0.8em;
        	padding: 10px 10px;
    	}
    	
    
}
